##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## Gradle
##############################
.gradle
gradle.properties

##############################
## Local Server
##############################
server/